*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mt-8 {
    margin-top: 8px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col {
    padding: 0 8px;
    float: left;
}
.col-full {
    width: 100%;
}
.col-half {
    width: 50%;
}
.col-third {
    width: calc(100%/3);
}
.text-center{
    text-align: center;
}
.open{
    display: flex;
}
/* 
1.Vị trí
2.Kích thước  (width,height)
3.Màu sắc
4.Kiểu dáng
*/
/*
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết 
*/

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.text-while{
    color: #fff!important;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav li{ 
    position:  relative;
}
#nav > li > a{
    text-transform: uppercase;
    color: #fff;
} 
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
} #nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    background-color: #fff;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}
#nav .subnav a{
    padding: 0 16px;
    color: #000;
    line-height: 38px;

}
#nav, .subnav{
    list-style-type: none;
}
#nav .nav-arrow-down{
    display: none;
    font-size: 12px;
}
#nav li:hover .nav-arrow-down{
    display: inline;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover{
    background-color: #f4436f;
    cursor: pointer;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/W3_DEMO/assets/img/chicago.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: #ccc;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-decription{
    font-size: 15px;
    margin-top: 25px;
    
}
#content{
    height: 1000px;
    background-color: #fff;
}
#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;
}

#content .section-sub-heading{
    text-align: center;
    font-style: italic;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.6;
    
}
#content .about-text{
    padding-top: 15px;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}
#content .member-list{
    overflow: hidden;
    margin-top: 48px;
}

#content .member-name{
    font-size: 15px;
}
 
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;

}
.ticket-list{
    margin-top: 40px;
    background-color: #fff;
}
.ticket-list > li{
    opacity: 0.7;
    font-size: 15px;
    padding: 12px 16px;
    border: 1px solid #ddd;
}

.ticket-list .sold-out{
    opacity: 1;
    background-color: #f51505;
    margin-left: 16px;
    padding: 3px 8px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
    margin-right: 16px;
}
.places-list{
    padding-top: 32px;
}

.place-img{
    width: 100%;
    height: 184px;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}
.place-body{
    font-family: "Lato", sans-serif;
    background-color: #fff;
    padding: 16px;

    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    opacity: 0.7;
    margin-top: 15px;
}
.place-desc{
    margin: 15px 0;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
.contact-content {
    margin-top: 48px;
}

.form-control{
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}
.contact-inform {
    line-height: 1.5;
    font-size: 18px;
}
.icon-contact {
    display: inline-block;
    width: 30px;
}
 
.form-submit{
    margin-top: 16px;
    margin-bottom: 16px;
    float: right;
}
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 14px;
    text-align: center;
}
.social-list {
    font-size: 24px;
}
.social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.copyright a:hover,
.social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
.copyright{
    text-decoration: none;
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.copyright a{
    color: rgba(0, 0, 0, 0.6);
}

















.modal{
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal-container{
    position: relative;
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    animation: modalFadeIn ease 0.5s;
}
.modal-header
{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    color: #fff;
    right: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
.buy-ticket{
     background-color: #009688;
     border: none;
     color: #fff;
     width: 100%;
     font-size: 15px;
     text-transform: uppercase;
     padding: 14px;
     cursor: pointer;
}
.buy-ticket:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #009688;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-100px);    
    }
    to{
        opacity: 1;
        transform: translateY(0);   
    }
    
}
